/* 호버 시 이미지 확대 */
.card{
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.1); /* 이미지 확대 (1.1배) - 원래 크기의 10% 확대 */
  cursor: pointer;
  transition: all 0.3s linear;
}

.imgtext{
  background-color: rgba( 255, 255, 255, 0.4 );
}

.card:hover .imgtext{
  color: #D1D5D6;
  background-color: rgba( 0, 0, 0, 0.7 );
}