.citypage {
    width : 100%;
    height : 25em;
    position: relative;
    opacity: 0.7;
}
.cityName{
    position: absolute;
    top: 19%;
    left: 5%;
    width: 5em;
    height: 1.3em;
    line-height: 1.4em;
    text-align: center;
    font-size: 4em;
    border-radius: 1em;
    color: #D1D5D6;
    background-color: rgba( 0, 0, 0, 0.7 );
}
.api {
    width : 64em;
    height : 7em;
    position: relative;
    left: 50%;
    top :10em;
    transform: translate(-50%, -50%);
}
.money {
    width : 30em;
    height : 4.8em;
    margin : 0 0px 0 29em;
}
.weather {
    border : 1px solid black;
    width : 30em;
    height : 4.8em;
    margin : -4.5em 50em 0 0;
}
.weatherIcon {
    border : 1px solid blue;
    width : 250px;
    height : 70px;
    margin : -70px 0 0 250px;
}
.button {
    display: flex;
    justify-content: center;
    margin: 5em;
}
.list1 {
    display: flex;
    border:1px solid #EBEAEC;
    border-radius:16px;
    box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    width : 31em;
    height : 15.7em;
    margin: 0px 50px 10px 50px;
    margin-top: 1em;
    gap:0.6em;
    cursor: pointer;
    user-select: none;
}
.imgDiv {
    width : 25em;
    height : 25em;
}
.textDiv {
    width : 25em;
    height : 25em;
    user-select: none;
}
.textDiv1{
    width: 14.5em;
    height: 10em;
    word-break:break-all;
    position:relative;
    top: 21%;
    font-size:15;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 7.2em;
    display: -webkit-box;
    -webkit-line-clamp: 6 ;
}
/* --------------------검색-------------------- */
.inputBox{
    border-radius: 15px;
    width: 600px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.search {
    position: relative;
    width: 300px;
}
.input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
.img {
    position : absolute;
    width: 17px;
    height: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}