.main {
    width: 1200px;
    margin: 0 auto;
}
.mainImgDiv{
    margin: 0 auto;
    width: 73.8em;
    text-align: center;
}
.citypage {
    user-select: none;
    width : 100%;
    height : 25em;
    object-fit: cover;
    position: relative;
    opacity: 0.8;
    border-radius: 20px;
}

.cityName{
    user-select: none;
    position: absolute;
    top: 17%;
    width: 5em;
    height: 1.3em;
    line-height: 1.4em;
    text-align: center;
    font-size: 3em; 
    border-radius: 1em;
    color: #D1D5D6;
    background-color: rgba( 0, 0, 0, 0.6 );
    margin-left: 1vw;
}

.api {
    width : 1200px;
    margin: 50px auto;
}
.money {
    display: inline-block;
    width: calc(50% - 22px);
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    /* margin : 0 0px 0 29em; */
}
.weather {
    display: inline-block;
    width: calc(50% - 22px);
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    vertical-align: top;
    text-align: center;
    /* margin : -4.5em 50em 0 0;  */
}
.weatherCity {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}
.weatherIcon {
    display: inline-block;
    width: 50%;
    height : 70px;
}
.button {
    display: flex;
    justify-content: center;
    margin: 10em;
}
.list1 {
    display: inline-block;
    border:1px solid #ebeaec;
    border-radius:16px;
    box-shadow:0px 2px 4px rgba(0,0,0,0.3);
    width : 44%;
    height : 15.7em;
    margin: 50px 3%;
    margin-top: 1em;
    gap:0.6em;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

.imgDiv {
    display: inline-block;
    width : 49%;
    height : 100%;
    overflow:  hidden;
    max-width: 100%;
    border-radius:15px;
}
.imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.textDiv {
    padding: 10px;
    display: inline-block;
    width : 49%;
    user-select: none;
}
.textName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    padding-bottom: 5px;
}
.textDiv1{
    width: 100%;
    word-break:break-all;
    position:relative;
    font-size:15;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 13em;
    -webkit-line-clamp: 11 ;
}

/* 호버 시 이미지 확대 */
.list1:hover img {
    transform: scale(1.1); /* 이미지 확대 (1.1배) - 원래 크기의 10% 확대 */
    cursor: pointer;
    transition: all 0.3s linear;
}

.toggle {
    height: 40px;
    width: 240px;
    border-radius: 40px;
    background-color: lightgray;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 3px;
    cursor: pointer;
    transition: 1s;
} 
.toggleBox {
    height:34px;
    width:117px;
    border-radius: 34px;
    background-color: darkgray;
}
.toggleLeft{
    position: absolute;
    margin-top: 10px;
    transition: 1s;
}
.toggleRight{
    position: absolute;
    margin-top: 10px;
    transition: 1s;
}
/* --------------------검색-------------------- */
.inputBox{
    border-radius: 15px;  
    width: 600px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    user-select: none;
}
.search {
    position: relative;
    width: 300px;
}
  
.input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
  
.img {
    position : absolute;
    width: 17px;
    height: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}
@media (max-width: 1201px) { 
    .main {
        width: 100%;
    }
    .mainImgDiv{
        width: 100%;
    }
    .citypage {
        object-fit: cover;
        width : 100%;
        height: 20em;
        border-radius: 0 0 20px 20px;
    }
    .api {
        width : 100%;
    }
    .list1 {
        width : 90%;
        margin: 50px 5%;
    }
    .cityName{
        top: 1%;
    }
}
@media (max-width: 754px) { 
    .cityName{
        top: 1%;
        margin-left: 20%;
    }
    .citypage {
        width : 100%;
        height: 13em;
        border-radius: 0 0 20px 20px;
    }
    .money {
        width : calc(100% - 22px);
    }
    .weather {
        width: calc(100% - 22px);
    }
    .list1 { 
        height : 10em;
        width : 90%;
        margin: 20px 5%;
    }
    .textDiv1 {
        height: 7.2em;
        -webkit-line-clamp: 6 ;
    }
}
