/* 이미지 컨테이너 스타일 */
image {
  position: relative;
  display: inline-block;
  overflow: hidden; /* 이미지 내부의 요소를 감추기 위해 overflow 사용 */
  flex: 0 0 20%;
  padding: 15px;
  position: relative;
  transition: transform 0.3s;
}


.carouselSlide {
  display: flex;
  justify-content: center;
}

.image{
  flex: 0 0 20%;
  padding: 14px;
  position: relative;
  transition: transform 0.3s;
}

/* 텍스트 스타일 */
.customcaption {
  position: absolute;
  top: 50%; /* 상단 위치를 중앙으로 조정 */
  left: 0;
  right: 0;
  transform: translateY(-50%); /* 수직 중앙 정렬 */
  color: white;
  text-align: center;
  font-size: 40px; 
}

/* 이미지 스타일 */
.customcircle {
  width: 100%; /* 이미지 내부의 요소를 컨테이너 너비에 맞추기 */
  height: auto; /* 이미지 내부의 요소의 가로 세로 비율 유지 */
  margin: 0 auto;
  border-radius: 50%; /* 이미지를 원 모양으로 만듭니다. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9); /* 그림자 스타일 및 설정 */
  transition: transform 0.3s; /* 변환 효과의 지속 시간을 조절합니다 */
  display: block;
}

/* 추가한 CSS 스타일 */
.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin-left: -100px;
}

/* 호버 시 이미지 확대 */
.image:hover .customcircle {
  transform: scale(1.05); /* 이미지 확대 (1.1배) - 원래 크기의 10% 확대 */
  cursor: pointer;
}

/* 캐러셀 내부 텍스트 선택 효과 제거 */
.carouselContainer {
  user-select: none !important;
}