@keyframes chatUp{
    from {
        border-radius: 50%;
        scale:0;
        opacity: 0.3;
    }
    to {
        border-radius: 22.5px;
        scale:1;
        opacity: 0.97;
    }
}
@keyframes chatDown{
    from {
        border-radius: 22.5px;
        scale:1;
       opacity: 0.97;
   }
   to {
       border-radius: 50%;
       scale:0;
       opacity: 0.3;
   }
}
.closeChat {
    animation: chatDown 1s;
}
.openChat {
    animation: chatUp 1s;
}
.middleSection::-webkit-scrollbar {
    width:7px;
    height: 7px;
}
.middleSection::-webkit-scrollbar-track {
    background-color: transparate;
}
.middleSection::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 7px;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: none;
}
.chatForm {
    border-radius: 22.5px;
    width: 400px;
    height: 75%;
    position: fixed;
    bottom: 70px;
    right: 7%;
    box-sizing: border-box;
    z-index: 500;
    position: fixed;
    padding-top: 4px;
    background-color: white;
    transform-origin: 95% 95%;
    opacity: 0.97;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.xBut{
    float: right;
    margin: 7px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.3;
}
.topSection {
    height: 7%;
    border-bottom: 1.5px solid rgb(230, 230, 230);
}
.middleSection {
    overflow: auto;
    overflow-x: hidden;
    height: calc(83% - 3px);
}
.bottomSection {
    height: 10%;
    border-top: 1.5px solid rgb(230, 230, 230);
}
.bottomSection div{
    text-align: center;
    display: inline-block;
    height: 120%;
    width: 33.3%;
    padding: 4% 10%;
    cursor: pointer;
    transition: 0.3s;
}
.bottomSection div img{
    width: 30px;
}


/* =========roomList============== */

.roomItem {
    padding: 7px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    transition: 0.3s;
    cursor: pointer;
}
.roomItem:hover {
    background-color: #c4dfff;
}
.roomItem h1{
    width: 75%;
    font-weight: bold;
    font-size: 17px;
    font-family: 'NanumSquareNeo-Variable';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.roomItem h2{
    font-size: 14px;
    line-height: 20px;
    color: gray;
    font-family: 'NanumSquareNeo-Variable';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.roomItem h2 span{
    font-family: 'NanumSquareNeo-Variable';
}
.roomItem h3{
    text-align: right;
    width: 25%;
    font-size: 13px;
    color: gray;
    font-family: 'NanumSquareNeo-Variable';
}

/* ////////////////////////////// */

@media (max-width: 500px) {
    .chatForm {
        width: 84%;
        right: 8%;
    }
    .bottomSection div{
        padding: 6% 10%;
    }
    .bottomSection div img{
        width: 23px;
    }
    
}