@keyframes chatUp{
    from {
        border-radius: 50%;
        scale:0;
        opacity: 0.3;
    }
    to {
        border-radius: 22.5px;
        scale:1;
        opacity: 0.95;
    }
}
@keyframes chatDown{
    from {
        border-radius: 22.5px;
        scale:1;
       opacity: 0.95;
   }
   to {
       border-radius: 50%;
       scale:0;
       opacity: 0.3;
   }
}
.closeChat {
    animation: chatDown 1s;
}
.openChat {
    animation: chatUp 1s;
}
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: none;
}
.chatForm {
    border-radius: 22.5px;
    width: 400px;
    height: 75%;
    position: fixed;
    bottom: 70px;
    right: 7%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 500;
    position: fixed;
    padding: 4px;
    background-color: white;
    transform-origin: 95% 95%;
    opacity: 0.95;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.xBut{
    float: right;
    margin: 7px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.3;
}
.topSection {
    height: 7%;
    border-bottom: 1.5px solid rgb(230, 230, 230);
}
.middleSection {
    height: calc(83% - 3px);
}
.bottomSection {
    height: 10%;
    padding: 2.5% 10%;
    border-top: 1.5px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
}
@media (max-width: 500px) {
    .chatForm {
        width: 84%;
        right: 8%;
    }
}