.accordion_container h2 {
  font-size: 24px;
}

.accordion_container li {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 22px;
}

.selected_city_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
  background: white;
}

.img {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.list:hover {
  color: #6AAEFF !important;
}

@media (max-width: 1199px) {
  .accordion_container {
    display: block;
    width: 100%;
    font-family: 'BMJUA';
  }
}
  
@media (min-width: 1200px) {
  .accordion_container {
    display: none;
    width: 1200px;
  }
}
  