
/*-----------main-------------------------------------*/
.main {
    width : 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*----------- MyPageWirte ----------*/

.tagName{
    font-size: 40px;
}

.hr {
     width: 70%;
    margin-bottom: 20px;
    margin-top: 30px;
    color: 'lightgray';
}

.writeForm { 
    float: left;
    width : 70%;
    min-height : 700px;
    margin: 0 auto;

}
.photo_mbti {
    margin : 0 auto;
    width : 100%;
    height : 130px;
}
.photo {
    text-align: center;

}
.mbti {
    height : 28px;
    text-align: center;
    width: 100%;
}
.dataDiv {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.textdiv {
    border-top: 1px solid lightgray;
    width : 100%;
    margin : 0 auto;
    height : auto;
    text-align: center;
}
.text1 {
    border : 1px solid black;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin : 10px 0 0 0;
    width : 80%;
    height : 80px;

}
.inputdiv {
    margin : 0 auto;
    width : 80%;
    height : 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
}
.inputdiv .input {
    margin-top: 7px;
    font-size: 20px;
    height : 32px;
    display : block;
}
.change {
    border-top: 1px solid lightgray;
    width : 100%;
    margin : 15px auto;
    padding-top: 20px;
}
.change button{
    width: 45%;
    margin: 5px 2.5%;
    border: 0;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;

}
/*----------- MyPageSidebar ----------*/
.sidebar {
    float: right;
    border-radius : 5px;
    border: 1px solid red;
    background-color: white;
    width: 300px;
    height: 700px;
    padding : 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px;
    margin: 15px auto;
}
.sidebar button {
    display: inline-block;
    border : 0;
    height : 70px;
    border-radius : 5px;
    background-color: whitesmoke;
    width: 95%;
    margin: 10px 2.5%;
}
.profile {
    border : 1px solid black;
    width : 100%;
    height : 70px;
}
.profileImg {
    width: 35%;
    height: 70px;
    object-fit: cover;
    border : 1px solid blue;
    float:red;
}
.myProfile {
    float: right;
    border : 1px solid red;
    width : 65%;
    height : 70px;
}
.buttons {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

/*--------------media-------------*/
@media (max-width: 1199px) {
    .main {
        width: 100%;
    }

    .hr {
       width: 100%;
   }
    .writeForm {
        width: 100%;
    }

    .dataDiv {
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
    }
    .change button {
        width : 100%;
    }
    .textdiv {
        width : 100%;
    }
    .sidebar {
        float: none;
        width: 100%;
        height: 24%;
    }
    .sidebar button {
        width: 30%;
        margin: 1%;
    }
    .profileImg {
        width: 100px;
        height: 100px;
    }
    .profile {
        height : 100px;
    }
    .myProfile {
        width: calc(100% - 100px);
        height: 100px;
    }
}

@media (max-width: 754px) { 
    .main {
        width : 100%;
    }
    .change button {
        width : calc(100% - 22px);
    }
    .textdiv {
        width : 100%;
        margin : 0 auto;
    }
    .inputdiv input {
        width : 100%;
    }

}

@media (max-width: 1199px) {
    .tagP {
        font-size: 21px; /* 텍스트 크기 조정 */
        margin-top: 2px;
    }

    .input[type='checkbox'] {
        transform: scale(1.5); /* 체크박스 크기 조정 */
        margin-left: 5px; /* 체크박스와 텍스트 간격 조정 */
    }
}
