
/*-----------main-------------------------------------*/
.main {
    width : 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*----------- MyPageWirte ----------*/

.tagName{
    padding-top: 20px;
    font-size: 30px;
}

.hr {
     width: 70%;
    margin-bottom: 20px;
    margin-top: 30px;
    color: 'lightgray';
}

.writeForm { 
    float: left;
    width : 70%;
    min-height : 700px;
    margin: 0 auto;

}
.photo_mbti {
    margin : 0 auto;
    width : 100%;
    height : 130px;
}
.photo {
    text-align: center;

}
.PImage{
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.PImage:hover{
    opacity: 0.5;
    cursor: pointer;
}

.mbti {
    height : 28px;
    text-align: center;
    width: 100%;
}
.dataDiv {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.textdiv {
    border-top: 1px solid lightgray;
    width : 100%;
    margin : 0 auto;
    height : auto;
    text-align: center;
}
.text1 {
    border : 1px solid black;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin : 10px 0 0 0;
    width : 80%;
    height : 80px;
    resize: none;
}
.inputdiv {
    margin : 0 auto;
    width : 80%;
    height : 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
}
.inputdiv .input {
    margin-top: 7px;
    font-size: 20px;
    height : 32px;
    display : block;
}
.change {
    border-top: 1px solid lightgray;
    width : 100%;
    margin : 15px auto;
    padding-top: 20px;
}
.change button{
    width: 45%;
    margin: 5px 2.5%;
    border: 0;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;

}
/*----------- MyPageSidebar ----------*/
.sidebar {
    float: right;
    border-radius : 10px;
    background-color: white;
    width: 280px;
    height: 700px;
    padding : 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px;
    margin: 15px auto;
}
.sidebar button {
    display: inline-block;
    border : 0;
    height : 90px;
    border-top: 1.5px solid whitesmoke;
    background-color: white;
    width: 90%;
    margin: 3px 5%;
}
.profile {
    width : 100%;
    height : 70px;
}
.profileImg {
    margin-left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.myProfile {
    padding-top: 24px;
    padding-left: 20px;
    font-size: 20px;
    float: right;
    width : 65%;
    height : 70px;
}
.buttons {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.buttons img{
    width: 25px;
    vertical-align: middle;
}

.btn:hover {
    cursor: pointer;
}
/* ---------mbti-------------- */
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}
.onModal{
    padding: 15px;
    border-radius: 5%;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 40%; 
    padding: 20px 10px;
    box-sizing: border-box;
    transform: translate(-50%, 0%); 
    z-index: 2;
}
/*------------예약내역-------------*/

/* ----------- 스크롤 ------------ */
.my_reservation_main::-webkit-scrollbar {
    width:7px;
}
.my_reservation_main::-webkit-scrollbar-track {
    background-color: transparate;
}
.my_reservation_main::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 7px;
}
/* ------------------------------ */
.my_reservation_main {
    width : 900px;
    height : 700px;
    overflow: auto;
    overflow-x: hidden;
}
.hr_1 {
    width: 93.3%;
    margin-bottom: 30px;
    margin-top: 30px;
    color: 'lightgray';
}
.reservation_title {
    padding-top: 20px;
    font-size: 30px;
}
.reservation_1 {
    border: 1.5px solid lightgray;
    flex-direction: column;
    height: 80px;
    width: 95%;
    margin: 1% 2.5%;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.reservation_1:hover{
    border: 1.5px solid gray;
}
.reservation_img {
    margin: 4px;
    float: left;
    width: 120px;
    height : 70px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align: top;
}
.div_h1 {
    display: inline-block;
    width: calc(100% - 270px);
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 18px 5px;
}
.div_h1 h2{
    font-size: 17px;
    color: gray;
}
.div_p {
    vertical-align: text-bottom;
    display: inline-block;
    width: 130px;
    font-size: 16px;
    color: gray;
    text-align: right;
    padding-bottom: 15px;
}
.div_p h2{
    font-size: 18px;
    color: #2E8DFF;
}

/*--------------media-------------*/
@media (max-width: 1199px) {
    .main {
        width: 100%;
    }
    .hr {
       width: 100%;
   }
    .writeForm {
        width: 100%;
    }
    .dataDiv {
        width: 80%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
    }
    .change button {
        width : 90%;
    }
    .textdiv {
        width : 100%;
    }
    .sidebar {
        float: none;
        width: 98%;
        margin: 1%;
        height: 23%;
        padding: 10px 0;
    }
    .sidebar button {
        width: 30%;
        margin: 1%;
    }
    .profileImg {
        width: 100px;
        height: 100px;
    }
    .profile {
        height : 100px;
    }
    .myProfile {
        width: calc(100% - 130px);
        height: 100px;
        padding-top: 34px;
        padding-left: 30px;
        font-size: 25px;
    }
    .my_reservation_main {
        width : 100%;
    }
    .hr_1 {
        width : 100%;
    }
    .p_div {
        flex-wrap: wrap;
        max-height: 3.6em; /* 두 줄로 나누기 위해 높이 제한 설정 (글자 크기에 따라 조절 필요) */
    }
    .p_div p {
        margin-top: 0; /* 줄임표 처리를 위해 마진 조정 */
        white-space: normal; /* 여러 줄로 표시 */
        text-overflow: ellipsis; /* 줄임표 처리 */
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* 두 줄로 제한 */
        font-size: 20px;
        margin-top: -50px;
        white-space: nowrap;

    }
}
/* @media (max-width: 754px) { 
    .onModal {
        width: 100%;
    }
    .main {
        width : 100%;
    }
    .change button {
        width : calc(100% - 22px);
    }
    .textdiv {
        width : 100%;
        margin : 0 auto;
    }
    .inputdiv input {
        width : 100%;
    }
    .hr_1 {
        width: 91.3%;
        margin-bottom: 30px;
        margin-top: 30px;
        color: 'lightgray';
    }
    .reservation_1 {
        height : 120px;
    }
    .reservation_img {
        height: 110px;
    }
    .div_h1 {
        display: inline-block;
        width: calc(100% - 140px);
        font-size: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 12px 5px;
    }
    .div_p {
        display: inline-block;
        width: calc(100% - 140px);
        font-size: 16px;
        color: gray;
        text-align: right;
    }
} */
@media (max-width: 1199px) {
    .tagP {
        font-size: 21px; /* 텍스트 크기 조정 */
        margin-top: 2px;
    }
    .input[type='checkbox'] {
        transform: scale(1.5); /* 체크박스 크기 조정 */
        margin-left: 5px; /* 체크박스와 텍스트 간격 조정 */
    }
}