.main {
      width: 1200px;
      margin: 0 auto;
    }
    /* ////////////////////////////// */
.search {
    margin-top: 162px;
    margin-left: 15px;
    position: absolute;
    width:24px;
    height:24px;
  }
  .searchBg {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    margin-bottom: 100px;
    text-align: center;
  }
  .searchBox{
    border: 0;
    background-color: white;
    border-radius: 20px;
    padding: 20px 14px 20px 52px;
    font-size: 24px;
    width:600px;
    height: 70px;
    margin: 140px auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
  /* ////////////////////////////// */
  .countrySection {
    width: 90%;
    margin: 0 auto;
  }
  .countryIn {
    padding: 1px 10px;
    white-space: nowrap; 
    overflow: hidden;
  }
  .countryItem {
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
  }
  .countryItem:hover{
    width: 280px;
    margin: 10px 0px;
  }
  .countryItem h1{
    margin: 10px;
    color: white;
    font-size: 30px;
    transition: 0.3s;
  }
  .countryItem p{
    margin-left: 20px;
    color: white;
    font-size: 20px;
  }
  .countryItem p font{
    color: #abd1ff;
    font-weight:'bold';
    font-size: 22px;
    transition: 0.3s;
  }
  .countryItem:hover p font{
    color: #2E8DFF;
  }
  .leftButton {
    width: 50px;
    position: absolute;
    margin-left: -25px;
    margin-top: 110px;
    cursor: pointer;
  }
  .rightButton {
    width: 50px;
    position: absolute;
    margin-left: 1060px;
    margin-top: 110px;
    cursor: pointer;
  }
  @media (max-width: 1199px) {
    .main{
      width: 100%;
    }
    .rightButton {
      margin-left: 80%;
    }
    .leftButton {
      margin-left: -4%;
    }
    .searchBg {
      height: 225px;
    }
    .searchBox{
      width: 97%;
    }
  }
  @media (max-width: 500px) {
    .countryItem {
      width: 175px;
      height: 175px;
    }
    .countryItem:hover{
      width: 200px;
      margin: 10px 0px;
    }
    .rightButton {
      width: 45px;
      margin-top: 80px;
    }
    .leftButton {
      width: 45px;
      margin-top: 80px;
    }
  }