 /*---------------main_page------------*/
 .main_page {
    width: 100%; 
    max-width: 1200px;
    min-height : 580px;
    margin: 0 auto;
}
.payment_main {
    width : 349px;
    float: right;
    border-radius: 10px !important;
}
._ {
    width : 730px;
    margin-top : 5px;
    padding-top : 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(233,233,233);
}
.main_reservation {
    display: inline-block;
    width : 730px;
    height : 580px;
}
.information {
    width : 730px;
    height : 500px;
}
.reserv_information {
    display: flex;
    flex-direction: column;
}
.name_start {
    display : flex;
    box-sizing: border-box;
    padding : 6px 14px;
    border-radius: 10px !important;
    margin : 10px;
}
.name_start input {
    background-color: whitesmoke;
    padding : 6px 14px;
    border : none;
    width : 33%;
    margin-left : 3px;
    border-radius: 10px !important;
}
.name_start textarea{
    background-color: whitesmoke;
    padding : 6px 14px;
    border : none;
    resize: none;
    width : 100%;
    height: 80px;
    border-radius: 10px !important;
}
.name_start label {
    padding: 5px 5px;
    font-weight: bold;
}

.gender_select {
    display: flex;
    border : none;
    background-color: whitesmoke;
    border-radius: 10px !important;
    width : 230px;
    height : 45px; 
}
.select_month_day {
    display: inline-block;
    background-color: whitesmoke;
    width : 100px;
    height : 45px;
    border-radius: 10px !important;
    border : 1px solid rgb(248, 248, 248);
    margin-left : 10px;
}
.country {
    display: flex;
    background-color: whitesmoke;
    width : 230px;
    height : 45px;
    border-radius: 10px !important;
    border : 1px solid rgb(248, 248, 248);
    margin-bottom: 30px;
}
.phone {
    background-color: whitesmoke;
    width : 450px;
    height : 45px;
    border-radius: 10px !important;
    border : none; 
}
.email {
    display : flex;
    box-sizing: border-box;
    padding : 6px 14px;
    width : 300px;
}
.email input {
    background-color: whitesmoke;
    padding : 6px 14px;
    border : none;
    width : 280px;
    border-radius: 10px !important;
}
.div_img {
    display: flex;
    width : 345px;
    height : 100px;
}
.select_a {
    text-align: center;
}
.select_b {
    text-align: center;
}
.payment {
    width : 345px;
    height : 210px;
    display: inline-block;
    vertical-align: top;
}
.card {
    width : 60%;
    height : 50px;
    margin-left : 20%; 
}
.payment_how {
    display: flex;
    margin-top : 20px;
    width: 100%;
    height : 50px;
    justify-content: space-around;
}
.payment_end {
    width : 60%;
    height : 50px;
    margin-left : 20%;
    margin-top : 15px;
}
.row_day {
    float: right;
}
.row_div input{
    height: 45px;
}
.payment_real_end {
    display: none;
}
@media (max-width: 1199px) {
  .scheduler {
      text-align: center;
      width: 100%;
      max-width: none;
      margin-left: auto;
      margin-right: auto;
    }
    .calendar {
        display: inline-block;
    }
    .selected_day {
        display: inline-block;
    }
    .main_page {
        width : 100%;
    }
    .payment_main {
        float: none;
        margin: 0 auto;
        margin-left: 5%;
        width : 90%;
    }
    .information {
        width : 100%;
        flex-wrap: wrap;
    }
    .main_reservation {
        width : 100%;
        padding-top : 20px;
    }
    .select_month_day {
        width : 20%;
    }
    .row_div {
        width: 100%;
    }
    .row_div input{
        width: 40%
    }
    .row_day {
        width: 40%;
    }
    .payment {
        width: 50%;
        padding: 2%;
        display: inline-block;
    }
    .payment_start {
        width: 50%;
        padding: 2%;
        display: inline-block;
    }
    .payment_main {
        height: auto;
        min-height : 260px;
        display: inline-block;
    }
    ._ {
        width : 100%;
    }
}
@media (max-width: 754px) {
    .name_start {
        flex-direction: column;
    }
    .name_start input{
        height: 40px;     
        width: 50%;  
    }
    .row_div input{
        width: 70%
    }
    .row_day {
        margin-top: 30px;
        float: none;
        width: 100%;
    }
    .payment_main {
        width : 100%;
    }
    .payment {
        width: 90%;
        padding: 2%;
        display: inline-block;
    }
    .payment_start {
        width: 90%;
        padding: 2%;
        display: inline-block;
    }
    .payment_end button {
        display: none;
    }
    .payment_real_end {
        display: block;
    }
    .payment_real_end button{
        width : 80%;
        height : 80px;
        margin-left : 10%;
    } 
} 