.main {
    width: 1200px;
    margin: 0 auto;
}
.mapSection {
    margin: 2.5%;
    width: 95%;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} 
.title {
    font-size: 35px;
    padding: 10px;
}
.timeDate {
    float: right;
    border-radius: 15px;
    border: 3px solid lightgray;
    padding: 5px 10px;
    color: darkgray;
    font-size: 25px;
    text-align: center;
    margin: 0 20px 20px 0;
}

@media (max-width: 1199px) {
    .main {
        width: 100%;
    }
    .mapSection {
        height: 220px;
    } 
}