@keyframes fadeImg {
    from {opacity: 0;}
    to {opacity: 0.6;}
}
@keyframes scaleImg {
    from {scale: 0.2;}
    to {scale: 1;}
}
.main {
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
}
/*////////////// 스크롤 //////////////*/
.listSection::-webkit-scrollbar {
    width:7px;
}
.listSection::-webkit-scrollbar-track {
    background-color: transparate;
}
.listSection::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 7px;
}

.rigthPlace p::-webkit-scrollbar {
    width:7px;
}
.rigthPlace p::-webkit-scrollbar-track {
    background-color: transparate;
}
.rigthPlace p::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 7px;
}

.inPlace::-webkit-scrollbar {
    width:10px;
}
.inPlace::-webkit-scrollbar-track {
    background-color: transparate;
}
.inPlace::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

/* //////////////////////////// */
/* //////////임지 모달////////// */
.bgImg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
    animation: fadeImg 0.7s;
    animation-fill-mode: forwards;
}
.onImg {
    width: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, 0%); 
    z-index: 2;
    transform-origin: 0 25%;
    animation: scaleImg 0.7s;
    transition: 0.7s;
    user-select: none;
    border-radius: 10px;
}
/* //////////////////////////// */
/* ////////////////////모달////////// */
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1;
}
.onModal {
    padding: 15px;
    border-radius: 5%;
    width: 600px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 40%; 
    padding: 20px 10px;
    box-sizing: border-box;
    transform: translate(-50%, 0%); 
    z-index: 2;
}
.inPlace {
    border-radius: 5%;
    width: 580px;
    height: 560px;
    overflow: auto;
    overflow-x: hidden;
}
.cusTitle {
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
}
.cusAddress {
    width: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    color: gray;
    background-color: aliceblue;
    margin: 0 auto;
}
/* //////////////////////////// */
.mapSection {
    margin: 0 1% -20px 1%;
    width: 98%;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} 
.listSection {
    overflow: auto;
    overflow-x: hidden;
    max-height: 650px;
    z-index: -2;
}
.hr {
    height: 0;
    border-top: 1px solid gray;
}
.title {
    float: left;
    font-size: 35px;
    padding: 10px;
    max-width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.timeDate {
    float: left;
    padding: 5px 10px;
    color: gray;
    font-size: 25px;
    text-align: center;
    margin: 0 20px 20px 0;
}
.timeDate div img {
    vertical-align: bottom;
    width: 30px;
}
.userProfile {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 280px;
    height: 90px;
    padding: 5px;
}
.userProfile img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    object-fit: cover;
}
.profiles {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 80px);
}
.proTop {
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid whitesmoke;
    height: 40px;
}
.proBot {
    width: 100%;
    height: 39px;
    padding: 15px 0;
    font-size: 13px;
    color:darkgray;
    text-align: center;
}
.nDay {
    border-radius: 30px;
    width: 80px;
    height: 33px;
    padding: 7px 12px;
    color: white;
    background-color: #1F5FAB;
    text-align: center;
    font-size: 20px;
    float: left;
}
.today {
    padding: 10px;
    float: left;
    color: darkgray;
    font-size: 15px;
}
.whatDaySection {
    padding: 30px 10px;
    margin: 30px 0;
}
.plannerText{
    padding:0 15px;
}
.placeContext {
    color: gray;
    font-size: 20px;
    margin: 15px 5px;
}
.times {
    color: black;
    font-size: 22px;
    margin-top: 5px;
}
.subItem {
    border: 2px solid;
    border-radius: 15px;
    transition: 0.3s;
    padding: 10px;
    margin: 30px 0;
    background-color: white;
    cursor: pointer;
}
.leftPlace {
    float: left;
    width: calc(100% - 400px);
}
.rigthPlace {
    width: 340px;
    float: right;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.rigthPlace .plTop {
    transition: 0.7s;
    float: left;
    height: 20px;
    width: 150px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rigthPlace .plBot {
    transition: 0.7s;
    width: 145px;
    height: 110px;
    overflow: auto;
    overflow-x: hidden;
    float: left;
    margin: 5px 10px;
    margin-left: 15px;
    font-size: 17px;
    line-height: 21px;
    padding: 5px 0px 5px 2px;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
.rigthPlace img {
    float: right;
    object-fit: cover;
    width: 155px;
    height: 155px;
    border-radius: 15px;
}
.imageDiv1 {
    width: 50%;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}
.imageDiv1 img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
    z-index: -2;
}
.imageDiv2 {
    width: 70%;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
}
.imageDiv2 img{
    display: inline-block;
    margin: 0 0.5%;
    width: 49%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.imageDiv3 {
    width: 90%;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
}
.imageDiv3 img{
    margin: 0 0.5%;
    display: inline-block;
    width: 32.3%;
    height:  100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.topButtons img{
    width: 25px;
    margin-left: 10px; 
    cursor: pointer;
}
.topButtons button{
    margin-right: 20px; 
    float: right;
    padding: 10px 18px;
    background-color: #2E8DFF;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0;
}
@media (max-width: 1199px) {
    .main {
        width: 100%;
    }
    .mapSection {
        height: 220px;
    } 
    .times {
        font-size: 19px;
    }
    .placeContext {
        color: gray;
        font-size: 17px;
    }
    .imageDiv1,.imageDiv2,.imageDiv3 {
        height: 200px;
    }
    .onImg {
        width: 70%;
    }
    .topButtons{
        margin-top: 10px;
    }
}
@media (max-width: 754px) {
    .onModal {
        width: 95%;
    }
    .inPlace {
        width: 100%;
    }
    .leftPlace {
        width:100%;
    }
    .rigthPlace {
        width:95%;
        margin: 2.5%;
    }
    .rigthPlace .plTop {
        width: calc(100% - 180px);
        font-size: 19px;
    }
    .rigthPlace .plBot {
        width: calc(100% - 180px);
        font-size: 17px;
    }
    .title {   
        max-width: 100%;
        font-size: 25px;
        text-align: center;
    }
    .topButtons{
        margin-top: 10px;
    }
    .topButtons button{
        margin-right: 10px;
    }
    .timeDate {
        color: darkgray;
        font-size: 20px;
        text-align: center;
        margin: 10px 20px 20px 0;
    }
    .timeDate div img {
        vertical-align: bottom;
        width: 25px;
    }
    .imageDiv1 {
        width: 70%;
        height: 150px;
    }
    .imageDiv2 {
        width: 85%;
        height: 140px;
    }
    .imageDiv3 {
        width: 100%;
        height: 110px;
    }
    .onImg {
        width: 90%;
    }
    .userProfile {
        width: 40%;
        height: 90px;
    }
}
@media (max-width: 500px) {
    .userProfile {
        margin: 5px 2%;
        width: 96%;
    }
}