@keyframes roll{
    100% {transform: rotate(360deg) };
}
@keyframes ppp{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    };
}
.loadingSection {
    height: 700px;
    padding: 50px;
    text-align: center;
}
.loadingSection img{
    width: 50px;
    height: 50px;
    animation: roll 2s infinite linear;
}
.loadingSection p{
    margin-top: 30px;
    font-size: 20px;
    color: darkgray;
    animation: ppp 5s;
}
.listForm{
    width: 100%;
}
.listForminner{
    width: 1200px;
    margin: auto;
    /* border: 1px solid blue; */
}
.together{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    width: 30%;
    height: 400px;
    margin: 2% 1.5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    
}
.dateTop{
    height: 25%;
    padding-left: 3%;
    margin-top: 130px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.date{
    /* border: 1px solid red; */
    color: gray;
    width: 100%;
    height: 40%;
    text-align: center;
    line-height:40px;
}
.userImg{
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    float: left;
}
.userImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userinfo{
    /* border: 1px solid red; */
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    
}
.userid{
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    font-size: 26px;
    text-align: center;
}
.userGender{
    /* border: 1px solid red; */
    height: 50%;
    line-height:30px;
    color: #54a1ff;
}
.tnuminfo{
    /* border: 1px solid red; */
    width: 40%;
    height: 100%;
    float: right;
    margin-right: 3%;
    line-height:30px;
    font-size: 22px;
}
.tnum{
    font-size: 16px;
    color: #54a1ff;
}
.userSeq{
    width: 100%;
    height: 60%;
    /* border: 1px solid blue; */
    float: left;
}
.userSeq p{
    height: 50%;
    text-align: center;
}
.togetherFoot{
    height: 170px;
    font-size: 20px;
    /* border: 1px solid blue; */
}
.imgDiv{
    width: 100%;
    height: 170px;
    transition: 0.4s;
}
.together:hover .imgDiv{
    width: 120%;
    margin-left: -10%;
}
.placeImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.title{
    width: 100%;
    height: 15%;
    line-height:30px;
    padding: 4% 0 0 3%;
}
.title p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.context{
    /* border: 1px solid blue; */
    width: 100%;
    height: 50%;
    padding-left: 3%;
    line-height:25px;
}
.context p{
    padding-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 16px;
    font-family: 'NanumSquareNeo-Variable';
}
.placeInfo{
    line-height:80px;
    width: 100%;
    height: 20%;
    color: #54a1ff;
    text-align: center;
    font-size: 30px;
}
.lastSection {
    padding: 150px 0;
    height: 350px;
    text-align: center;
    font-size: 25px;
    color: darkgray;
    transition: 1s;
}
@media (max-width: 1199px){
    .listForminner{
        width: 80%;
    }
    .together{
        width: 100%;
        height: 310px;
    }
    .placeInfo{
        font-size: 20px;
        line-height: 15px;
    }
    .userSeq{
        width: 100%;
        height: 70%;
    }
    .imgDiv{
        height: 200px
    }
    .dateTop{
        float: right;
        width: 50%;
        height: 110px;
        margin-top: 30px;
        padding-left: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .title{
        width: 50%;
        padding: 15px 0 5px 3%;
    }
    .context{
        margin-top: 15px;
        width: 50%;
        padding-left: 3%;
        line-height:22px;
        font-size: 18px;
    }
    .context p{
        padding-top: 10px;
    }
    .userinfo{
        /* border: 1px solid red; */
        width: 40%;
        height: 60%;
        float: left;
        text-align: center;
        
    }
    .userid{
        /* border: 1px solid red; */
        width: 100%;
        height: 40%;
        font-size: 24px;
        text-align: center;
    }
    .userGender{
        /* border: 1px solid red; */
        height: 50%;
        color: #54a1ff;
    }
    .tnuminfo{
        /* border: 1px solid red; */
        width: 40%;
        height: 60%;
        float: right;
        font-size: 20px;
    }
    .tnum{
        color: #54a1ff;
        font-size: 17px;
    }
}
@media (max-width: 780px){
    .dateTop{
        float: left;
        width: 100%;
        height: 110px;
        margin-top: 120px;
        padding-left: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .title{
        width: 100%;
        padding: 15px 0 5px 3%;
    }
    .context{
        margin-top: 10px;
        width: 100%;
        padding-left: 3%;
        font-size: 18px;
    }
    .context p{
        -webkit-line-clamp: 1;
    }
    .listForminner{
        width: 100%;
        margin: auto;
    }
    .together{
        width: 95%;
        height: 350px;
    }
    .date{
        width: 40%;
        float: right;
        height: 100%;
        line-height: 55px;
        font-size: 15px;
    }
    .userSeq{
        width: 60%;
        height: 100%;
    }
    .userid{
        font-size: 20px;
    }
    .userGender{
        font-size: 15px;
    }
    .tnuminfo{
        float: right;
        font-size: 18px;
    }
    .tnum{
        color: #54a1ff;
        font-size: 15px;
    }
    .userImg{
        margin-top: 2.5px;
    }
}
@media (max-width: 550px){
    .date{
        width: 100%;
        float: right;
        height: 20%;
        line-height: 20px;
        font-size: 15px;
    }
    .userSeq{
        width: 100%;
        height: 100%;
    }
    .together{
        height: 380px;
        margin: 5% 1.5%;
    }
    .userid{
        font-size: 24px;
    }
    .userGender{
        font-size: 18px;
    }
    .tnuminfo{
        font-size: 20px;
    }
    .tnum{
        font-size: 18px;
    }
    .userinfo{
        width: 35%;
        
    }
    .tnuminfo{
        width: 35%;
    }
}