.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    
}
.writeForm input:focus {outline: 2px solid #194E8C;}
.writeForm textarea:focus {outline: 2px solid #194E8C;}
.writeForm textarea{
    resize: none;
}
.calender {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
}
.addPlace{
    border: 0;
    font-weight: bold;
}
.placeCardForm {
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: 20px 0;
    height: 390px;
    overflow: auto;
    overflow-x: hidden;

}
.placeCardForm div img{
    float: right;
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.placeCard{
    background-color: antiquewhite;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    margin: 2% auto;
    text-align: left;
    cursor: pointer;
    overflow: auto;
    overflow-x: hidden;
} 
.placeCardDiv{
    border: 1px solid red;
    height: 100px;
}
.placeContextP{
    width: 70%;
    float: left;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.placeSearchCon{
    /* border: 1px solid red; */
    margin-bottom: -200px;
}
.placeCardForm td{
    width: 70%;
    float: left;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.placeCardForm img{
    margin-top: -35px;
}
.todoListForm{
    height: 80px;
    overflow: scroll;
    overflow-x: hidden;
}
.inputday{
    width: 150px;
}
/* WriteForm */
.writeForm{
    margin:auto;
    width: 1200px; 
    /* border: 1px solid; */
}
.writeFormInner{
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
}
.startDate{
    border: lightgray 1px solid;
}
.endDate{
    border: lightgray 1px solid;
}
.mem{
    border: lightgray 1px solid;
}
.title{
    height: 40px;
    width: 100%;
    margin: 1% 0 1% 0;
    border: lightgrey 1px solid;
    padding-left: 2%;
}
.writedateCard{
    border: lightgrey 1px solid;
    height: 110px;
    width: 100%;
    margin: 1% 0 1% 0;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
}
.writedateCard_top{
    /* border: red 1px solid; */
    height: 30%;
    font-weight: bold;
}
.writedateCard_top p{
    margin-left: 45%;
}
.writedateCard_top button{
    float: right;
}
.updateSubDTO{
    border: none;
    margin-right: 5%;
}
.resetSubDTO{
    border: none;
    margin-right: 1%;
}
.writedateCard_foot{
    margin-left: 5%;
}
.writedateCard_de{
    /* border: 2px solid; */
    background-color:whitesmoke ;
    height: 80px;
    width: 100%;
    margin: 1% 0 1% 0;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}
.writedateCard_de_text{
    width: 100px;
    height: 30px;
    margin: auto;
    margin-top: 3%;
    color: gray;
    font-weight: bold;
}
.writedateCard_de_text:hover{
    text-decoration: underline;
    
}
.contextDiv{
    color: rgb(255, 115, 115);
    margin: auto;
    text-align: center;
}
.writedateCardFormDiv{
    color: rgb(255, 115, 115);
    margin: auto;
    text-align: center;
}
.titleDiv{
    color: rgb(255, 115, 115);
    margin: auto;
    text-align: center;
}
.context{
    width: 100%;
    height: 400px;
    margin: 1% 0 1% 0;
    border: lightgrey 1px solid;
    padding-left: 2%;
}
/* 커스텀 */
.mapInput{
    text-overflow:ellipsis;
    outline:none;
    font-size: 14px;
    width:240px;
    height: 32px;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-left: 6%;
}
.onCustomB{
    border:0;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin-left: 7%;
    margin-top: 1%;
    background-color: rgb(70, 70, 133);
    color: white;
}
/********************* addPlace ********************/
.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
}
.placeSearchForm {
    border-radius: 2%;
    width: 550px;
    height: 550px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%; 
    padding: 30px;
    box-sizing: border-box;
    transform: translate(-50%, -50%); 
    z-index: 500;
}
.time{
    margin-left: 10%;
}
.add{
    border: 1px solid;
}
.placeContext {
    border: 0;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    margin: 10px 0;
    resize: none;
    padding: 5px;
}
.placeContext:focus {
    outline: none;
    border: 0;
}
.placeCard {
    background-color: lavender;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    margin: 2% auto;
    text-align: left;
    cursor: pointer;
    overflow: auto;
    overflow-x: hidden;
}
.placeImg{
    float: right;
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.timeItem {
    display: inline-block;
    text-align: center;
    padding: 5px 16px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    
}
.timeDiv p{
    text-align: center;
    font-size: 18px;
    color: gray;
}
.timeDiv {
    margin:10px;
    margin-top: 35px;;
    border-radius: 5px;
    background-color: whitesmoke;
    float: right;
    white-space: wrap;
    width: 81px ;
    height: 81px ;
    overflow: auto;
    overflow-x: hidden; 
}
.timeDiv::-webkit-scrollbar {
    width:5px;
}
.timeDiv::-webkit-scrollbar-track {
    background-color: transparate;
}
.timeDiv::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #194E8C;
    cursor: pointer;
}
.xBut{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.onScheduleDiv{
    width: 60px;
    height: 30px;
    margin:auto;
}
.onSchedule{
    width: 60px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(70, 70, 133);
    color: white;
}
.savebutton{
    margin: auto 0;
    width: 230px;
    height: 50px;;
    /* border: 1px solid; */
    margin: auto;
}
.savebutton div{
    float: left;
}
.calenderDiv{
    color: rgb(255, 115, 115);
    margin: auto;
    text-align: center;
}
.timeNullDiv{
    color: rgb(255, 115, 115);
    margin: auto;
    text-align: center;
}
.subPDiv{
    color: rgb(255, 115, 115);
    margin: auto;
    text-align: center;
}
.save {
    text-align: center;
    width: 110px;
    padding: 15px 20px;
    background-color: rgb(70, 70, 133);
    border-radius: 15px;
    color: white;
    border: 0;
    cursor: pointer;
}
.reset{
    text-align: center;
    width: 110px;
    padding: 15px 20px;
    background-color: rgb(70, 70, 133);
    border-radius: 15px;
    color: white;
    border: 0;
    cursor: pointer;
    margin-left: 3px;
}
.placeCardForm::-webkit-scrollbar {
    width:7px;
    height: 7px;
}
.placeCardForm::-webkit-scrollbar-track {
    background-color: transparate;
}
.placeCardForm::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 7px;
}
.addButtons{
    border:0;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 1%;
    background-color: rgb(70, 70, 133);
    color: white;
}
.searchCityDiv{
    width: 300px;
    height: 30px;
    margin: auto;
}
.searchCity{
    width: 300px;
    height: 30px;
    padding-left: 2%;
}
.backDiv{
    width: 100px;
    height: 30px;
}
.back{
    border:0;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(70, 70, 133);
    color: white;
}
.customGoDiv{
    width: 100px;
    height: 100%;
    margin: auto;
}
.makeButtons{
    margin-top: 10%;
    border:0;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: rgb(70, 70, 133);
    color: white;
}

@media (max-width: 1199px) {
    .writeForm{
        margin:auto;
        width: 90%; 
        /* border: 1px solid; */
    }
    .writedateCard_de{
        height: 65px;
    }
    .writedateCard_de_text{
        /* border: solid 1px; */
        line-height: 0px;
        height: 15px;
        width: 60px;
    }
    .save {
        width: 80px;
        padding: 10px;
        border-radius: 10px;
    }
    .reset{
        width: 80px;
        padding: 10px;
        border-radius: 10px;
    }
    .savebutton{
        width: 170px;
        height: 50px;;
        /* border: 1px solid; */
    }
    .context{
        height: 300px;
    }
    
}
@media (max-width: 950px){
    .writedateCard_de_text{
        line-height: 25px;
    }
}
@media (max-width: 500px){
    /* search */
    .placeSearchForm {
        border-radius: 2%;
        width: 95%;
        height: 550px;
        padding: 30px;
    }
}