.viewForm{
    width: 100%;
    /* overflow: auto;
    overflow-x: hidden; */
    margin-bottom: 5%;
}
.viewInner{
    width: 1200px;
    margin: auto;
}
/* 상단사진/지도 */
.innerTop{
    height: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.innerplaceImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
/*  */
/* 중간부 */
.midTitle{
    width: 80%;
    height: 70px;
    font-size: 40px;
    text-align: center;
    margin: auto;
    line-height:100px;
}
.listChange{
    border: none;
    float: right;
    height: 45px;
    width: 80px;
    margin-right: 15%;
    margin-top: -45px;
    border-radius: 5px;
    background-color: #54a1ff;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.listChange:hover{
    text-decoration: underline;
}
.listDelete{
    border: none;
    float: right;
    height: 45px;
    width: 80px;
    margin-right: 6%;
    margin-top: -45px;
    border-radius: 5px;
    background-color: rgb(251, 78, 78);
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.listDelete:hover{
    text-decoration: underline;
}
.midSc{
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    /* background-color: #e3eefc; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    line-height:33px;
}
.midScTdiv{
    margin: auto;
    width: 300px;
}
.midScText{
    color: gray;
}
.contextDiv{
    width: 90%;
    margin: auto;
}
.contextR{
    float: left;
    width: 60%;
}
.midContext{
    /* border: 1px solid blue; */
    font-size: 20px;
    height: 300px;
    margin-top: 30px;
    padding-left: 3%;
}
/*동행리스트*/
.togetherList{
    /* border: 1px solid blue; */
    width: 70%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.togetherMap{
    height: 60%;
    overflow: hidden;
}
.togetherListUser{
    width: 90%;
    margin-left: 4%;
    height: 50px;
    margin-top: 5px;
    line-height:50px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    font-size: 20px;
    z-index: 500;
}
.togetherSchedule{
    /* border: 1px solid red; */
    background-color: #f7fafc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 40%;
}
.subDay{
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 5px;
    width: 67px;
    height: 35px;
}
.selecDay{
    background-color: rgb(102, 101, 101);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
}
.subDay:active{
    background-color: grey;
} 
.scheduleContext{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
/*채팅*/
.togetherChatDiv{
    /* border: 3px solid red; */
    width: 40%;
    height: 800px;
    float: right;
    margin-top: 30px;
}
.togetherChatInner{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-radius:10px 10px 0 0 ;
    width: 100%;
    height: 30%;
    margin: auto;
    margin-top: 10%;
}
.hrhr{
    width: 80%;
    height: 1px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.togetherChatInner2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 20%;
    margin: auto;
}
.chatProfile{
    width: 80%;
    height: 100%;
    position: relative;
    margin: auto;
    /* border: 1px solid red; */
}
.chatText{
    position:absolute; 
    bottom:3px;
}
.chatText span{
    color: #1F5FAB;
    font-size: 19px;
    line-height: 20px;
}
.chatProfileImg{
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 110px;
    height: 110px;
    border-radius: 70px;
    top: 40%;
    margin-top: -50px;
    overflow: hidden;
}
.userImg{
    width: 100%;
    height: 100%;
    
}
.inin{
    /* border: 1px solid red; */
    width: 55%;
    height: 30%;
    float: right;
    margin-top: 18%;
    font-size: 20px;
}
.chatProfileName{
    /* border: 1px solid red; */
    height: 50%;
    
}
.chatProfileInfo{
    /* border: 1px solid red; */
    height: 50%;
}
.chatGoDiv{
    width: 70%;
    height: 70%;
    margin: auto;
    
}
.chatGo{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    border: none;
    margin-top: 12%;
    color: white;
    font-size: 20px;
    background-color: #1F5FAB;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.togetherTo{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5%;
    height: 45%;
}
.togetherTo p{
    text-align: center;
    padding-top: 20px;
}
.toGother{
    border-radius: 10px;
    width: 90%;
    height: 83%;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}
.toGotherMaster{
    width: 100%;
    height: 20%;
}
.toGotherImg{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 52px;
    height: 52px;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 70px;
    text-align: center;
    overflow: hidden;
}
.toGotherInfo{
    width: 70%;
    float: right;
    font-size: 20px;
    margin-top: 19px;
}
.toGotherInfo span{
    margin: 0 30px 0 30px;
}
.togotherList{
    height: 80%;
    background-color: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
}
/* .togotherList::-webkit-scrollbar {
    width:5px;
}
.togotherList::-webkit-scrollbar-track {
    background-color: transparate;
}
.togotherList::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #194E8C;
    cursor: pointer;
} */
/*  */
@media (max-width: 1199px){
    .viewInner{
        width: 90%;
    }
    .innerTop{
        height: 200px;
    }
   
    .midSc{
        width: 90%;
        font-size: 15px;
        line-height:33px;
    }
    .midScTdiv{
        width: 210px;
    }
    .viewForm{
        height: 1200px;
    }
    .inin{
        width: 45%;
        margin-top: 22%;
    }
    .toGotherInfo{
        width: 75%;
    }
    .toGotherInfo span{
        margin: 0 10px 0 10px;
    }
    .listChange{
        margin-right: 17%;
    }
    .listDelete{
        margin-right: 6%;
    }
}
@media (max-width:900px){
    .togetherList{
        width: 80%;
    }
    .listChange{
        margin-right: 19%;
    }
    .listDelete{
        margin-right: 6%;
    }
}
@media (max-width:810px){
    .contextR{
        width: 100%;
    }
    .innerTop{
        display: none;
    }
    .togetherList{
        margin: auto;
        width: 100%;
        height: 350px;
    }
    .togetherChatDiv{
        width: 100%;
        height: 80px;
    }
    .togetherChatInner{
        display: none;
    }
    .togetherChatInner2{
        border: none;
    }
    .chatGo{
        position: fixed;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 70px;
    }
    .togetherTo{
        height: 100%;
    }
    .togetherTo p{
        float: left;
        padding-top: 35px;
        margin-left: 20px;
    }
    .toGother{
        height: 80%;
        float: right;
        margin-right: 7px;
        margin-top: 7px;
    }
    .toGotherMaster{
        height: 100%;
        background-color: white;
    }
    .toGotherInfo{
        width:85%;
        color: gray;
        line-height: 30px;
    }
    .togetherListOne{
        display: none;
    }
    .listChange{
        margin-right: 20%;
        width: 70px;
        height: 40px;
        margin-top: -45px;
    }
    .listDelete{
        margin-right: 6%;
        width: 70px;
        height: 40px;
        margin-top: -45px;
    }
}
@media (max-width:810px){
    .toGother{
        width:70%;
    }
    .toGotherInfo{
        width:75%;
        margin-top: 20px;
    }
}
@media (max-width:660px){
    .listChange{
        margin-right: 2%;
        width: 50px;
        height: 30px;
        margin-top: -2px;
    }
    .listDelete{
        margin-right: 6%;
        width: 50px;
        height: 30px;
        margin-top: -2px;
    }
}
@media (max-width:530px){
    .toGother{
        width:65%;
    }
    .toGotherInfo{
        width:75%;
        font-size: 15px;
    }
}
/* @media (max-width: 700px){
    .innerTop{
        height: 150px;
    }
    .midTitle{
        width: 90%;
        height: 40px;
        font-size: 25px;
        text-align: center;
        margin: auto;
        line-height:70px;
    }
    .togetherList{
        width: 100%;
        margin: auto;
    }
    .subDay{
        width: 55px;
        height: 35px;
    }
} */